{% extends "_base.html" %}
{% block bodycontent %}
<!DOCTYPE html>
<html>
<script src="/static/js/w2ui-1.4.3.min.js"></script>
<script type="text/javascript">
    var timeLeft;
    var counter = 0;
    var curr;
    var timerId;

    function runQuestion(){
        try{
            clearTimeout(timerId);
        }
        catch(err){
        }
        timeLeft = 14;

        var elem = document.getElementById('timer');

        timerId = setInterval(function() {
              if (timeLeft < 0) {
                clearTimeout(timerId);
                submit(5);
              } else {
                elem.innerHTML = "<p>" + timeLeft + "</p>";
                timeLeft--;
              }
            }, 1000);


        var count = document.getElementById('counter'); //question number

        counter+=1; //increments at each question

        count.innerHTML = counter + "."; //prints out the question number
        elem.innerHTML = "<p>" + 15 + "</p>";
        //code for retrieving and printing the question
        var quest = document.getElementById("question");
        var ans1 = document.getElementById("answer1");
        var ans2 = document.getElementById("answer2");
        var ans3 = document.getElementById("answer3");
        var ans4 = document.getElementById("answer4");
        var popAns1 = document.getElementById('popupAns1');
        var popAns2 = document.getElementById('popupAns2');
        var popAns3 = document.getElementById('popupAns3');
        var popAns4 = document.getElementById('popupAns4');
        curr = "{{question_list}}";
        curr = curr.replace(/&quot;/g,'"');
        curr = curr.replace(/[\u0000-\u0019]+/g,"");
        curr = JSON.parse(curr);
        var q = curr[counter].question;
        var a1 = curr[counter].answer1;
        var a2 = curr[counter].answer2;
        var a3 = curr[counter].answer3;
        var a4 = curr[counter].answer4;
        quest.innerHTML = q;
        ans1.innerHTML = a1;
        ans2.innerHTML = a2;
        ans3.innerHTML = a3;
        ans4.innerHTML = a4;
        popAns1.innerHTML = a1;
        popAns1.innerHTML += " (1/4)";
        popAns2.innerHTML = a2;
        popAns2.innerHTML += " (2/4)";
        popAns3.innerHTML = a3;
        popAns3.innerHTML += " (3/4)";
        popAns4.innerHTML = a4;
        popAns4.innerHTML += " (4/4)";
    }

    function score(){
        //this is where we can do the calculations for the score by grabbing
        //the time variable and using that as part of it, as well as using
        //information from the question_obj, or we can probably use jquery or
        //something, attach onsubmit="score()" into the form
    }
    function start(){
        runQuestion();
    }
</script>
<link rel="stylesheet" type="text/css" href="/static/css/w2ui-1.4.3.min.css">
<body>
	<div class = "container" style=" height: 240px; text-align:center; position:relative;">
		<br><br><br>
        <div id="demo"></div>
        <div style="text-align:center">Time Left</div>
        <div id="timer" style="text-align:center"><p>15</p></div>
        <h3 class= "col-lg-1" style="text-align:right" id="counter"></h3>
        <h3 id = "question" class="col-lg-11" style="text-align:center"></h3>
    </div>
    <div class = "container text-align-center">
        <font size = 5>
          <input type="hidden" name="hidden_score" value="{{score}}">

          <div class ="container">
              <div class = "col-lg-3"></div>
              <div class="col-lg-3">
                  <button onclick="submit(1)" id="answer1" type="submit" name="userAnswer" value=1 class="submit-a-button-1">
                  </button>
              </div>
              <div class="col-lg-3">
                  <button onclick="submit(2)" id="answer2" type="submit" name="userAnswer" value=2 class="submit-a-button-2">
                  </button>
              </div>
              <div class="col-lg-3"></div>
          </div>
          <div class ="container">
              <div class="col-lg-3"></div>
              <div class="col-lg-3">
                  <button onclick="submit(3)" id="answer3" type="submit" name="userAnswer" value=3 class="submit-a-button-3">
                  </button>
                  </div>
              <div class="col-lg-3">
                  <button onclick="submit(4)" id="answer4" type="submit" name="userAnswer" value=4 class="submit-a-button-4">
                  </button>
                  </div>
              <div class="col-lg-3"></div>
          </div>
          <button type="hidden submit" id="submit" name="userAnswer" style="visibility: hidden" value=0></button>
        </font>
	</div>
    <div id="popup" style="display: none; width: 650px; height: 400px; overflow: auto">
        <div id="title" rel="title">
            <span style="color:red" id="popupHead"></span>
        </div>
        <div rel="body">
            <div style="padding: 10; font-size: 11px; line-height: 150%; text-align:center; vertical-align:middle;">
            </br></br>
                <p style="color: #f44336;" id='popupAns1'></p>
                <p style="color: #0266C8;" id='popupAns2'></p>
                <p style="color: #00933B;" id='popupAns3'></p>
                <p style="color: #F2B50F;" id='popupAns4'></p>
            </div>
        </div>
        <div rel="buttons">
            <button class="btn" onclick="runNextQuestion()">Next Question</button>
        </div>
    </div>
</body>
<script>
    window.onload = start();
    function submit(selection){
        clearTimeout(timerId); //stops timer
        var header = document.getElementById('title');
        if(selection == curr[counter].answerid){
            header.innerHTML = "<span style='color:green'>Correct</span>";
             $('#popup').w2popup({modal: true, showClose: false, keyboard: false});
            //logic for score in here
        }
        else{
            header.innerHTML = "<span style='color:red'>Incorrect</span>";
            $('#popup').w2popup({modal: true, showClose: false, keyboard: false});
        }
        if( counter == "{{num}}"){
            //redirect to another page here
            //end quiz, hidden form action?
        }
    }
    
    function runNextQuestion(){
        w2popup.close();
        runQuestion();
    }
</script>
</html>
{% endblock %}
