{% extends "_base.html" %}
{% block bodycontent %}
<!DOCTYPE html>
<html>
<body>
	<div class = "container">
		<br><br><br>

		<h3>{{question_obj.question}}</h3>
        <hr>
		<ol>
			<li class="red-text">{{question_obj.answer1}}</li>
			<li class="blue-text">{{question_obj.answer2}}</li>
			<li class="green-text">{{question_obj.answer3}}</li>
			<li class="yellow-text">{{question_obj.answer4}}</li>
		</ol>
        <form action=/submitAnswer method="POST"></br>
            <input type="radio" name="userAnswer" value="1" class="red-text">
            {{question_obj.answer1}}
        </br><input type="radio" name="userAnswer" value="2" class="blue-text">
            {{question_obj.answer2}}
        </br><input type="radio" name="userAnswer" value="3" class="green-text">
            {{question_obj.answer3}}
        </br><input type="radio" name="userAnswer" value="4" class="yellow-text">
            {{question_obj.answer4}}
            <input type="hidden" name="hidden_questionid" value="{{question_obj.id}}">
            <input type="hidden" name="hidden_answerid" value="{{question_obj.answerid}}">
            <input type="hidden" name="hidden_correctCount" value="{{correctCount}}">
            <input type="hidden" name="hidden_totalCount" value="{{totalCount}}">
        </br>
        </br>
            <input type="submit" name="submitbutton" value="Submit Quiz"></input>
        </form>
	</div>
</body>
</html>
{% endblock %}
