{% extends "_base.html" %}
{% block bodycontent %}
<!DOCTYPE html>
<html>
<body>
	<div class = "container">
		<br><br><br>
        <h3>{{question_obj.question}}</h3>
        <hr>
		<ol>
			<li class="red-text">{{question_obj.answer1}}</li>
			<li class="blue-text">{{question_obj.answer2}}</li>
			<li class="green-text">{{question_obj.answer3}}</li>
			<li class="yellow-text">{{question_obj.answer4}}</li>
		</ol>
        <hr>
        <form action=/submitAnswer method="post"><font size = 5>
            <input type="hidden" name="hidden_questionid" value="{{question_obj.id}}">
            <input type="hidden" name="hidden_answerid" value="{{question_obj.answerid}}">
            <input type="hidden" name="hidden_correctCount" value="{{correctCount}}">
            <input type="hidden" name="hidden_totalCount" value="{{totalCount}}">
          <button type="submit" name="userAnswer" value=1 class="submit-q-button-1">
          {{question_obj.answer1}}</button>
          <button type="submit" name="userAnswer" value=2 class="submit-q-button-2">
          {{question_obj.answer2}}</button>
          <button type="submit" name="userAnswer" value=3 class="submit-q-button-3">
          {{question_obj.answer3}}</button>
          <button type="submit" name="userAnswer" value=4 class="submit-q-button-4">
          {{question_obj.answer4}}</button>
        </form>
	</div>
</body>
</html>
{% endblock %}
