{% extends "_base.html" %}
{% block bodycontent %}
<!DOCTYPE html>
<html>
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/static/js/w2ui-1.4.3.min.js"></script>
<script src="/ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript">
    var timeLeft;
    var counter = 0;
    var curr;
    var timerId;

    var questkey;
    var userid = "{{userid}}";


    function runQuestion(){
        try{
            clearTimeout(timerId);
        }
        catch(err){
        }
        timeLeft = 14;

        var elem = document.getElementById('timer');

        timerId = setInterval(function() {
              if (timeLeft < 0) {
                clearTimeout(timerId);
                submit(5);
              } else {
                elem.innerHTML = "<p>" + timeLeft + "</p>";
                timeLeft--;
              }
            }, 1000);


        var count = document.getElementById('counter'); //question number

        counter+=1; //increments at each question

        count.innerHTML = counter + "."; //prints out the question number
        elem.innerHTML = "<p>" + 15 + "</p>";
        //code for retrieving and printing the question
        var quest = document.getElementById("question");
        var ans1 = document.getElementById("answer1");
        var ans2 = document.getElementById("answer2");
        var ans3 = document.getElementById("answer3");
        var ans4 = document.getElementById("answer4");
        var exp = document.getElementById("explanation");
        var popAns1 = document.getElementById('popupAns1');
        var popAns2 = document.getElementById('popupAns2');
        var popAns3 = document.getElementById('popupAns3');
        var popAns4 = document.getElementById('popupAns4');
        curr = "{{question_list}}";
        curr = curr.replace(/&quot;/g,'"');
        curr = curr.replace(/[\u0000-\u0019]+/g,"");
        curr = JSON.parse(curr);
        var q = curr[counter].question;
        var a1 = curr[counter].answer1;
        var a2 = curr[counter].answer2;
        var a3 = curr[counter].answer3;
        var a4 = curr[counter].answer4;
        questkey = curr[counter].urlkey;
        quest.innerHTML = q;
        ans1.innerHTML = a1;
        ans2.innerHTML = a2;
        ans3.innerHTML = a3;
        ans4.innerHTML = a4;
        exp.innerHTML = curr[counter].explanation;

        var q = curr[counter].question;
        var s1 = parseInt(curr[counter].answer1Selections);
        var s2 = parseInt(curr[counter].answer2Selections);
        var s3 = parseInt(curr[counter].answer3Selections);
        var s4 = parseInt(curr[counter].answer4Selections);
        var total = s1+s2+s3+s4;
        var s1p = Math.floor((s1 / total) * 100);
        var s2p = Math.floor((s2 / total) * 100);
        var s3p = Math.floor((s3 / total) * 100);
        var s4p = 100-(s1p+s2p+s3p);
        
        //used for reporting
        document.getElementById("reportForm").action = "/reportQuiz?id=" + curr[counter].urlkey;
        
        popAns1.innerHTML = a1 + " (" + s1p + "%)";
        popAns2.innerHTML = a2 + " (" + s2p + "%)";
        popAns3.innerHTML = a3 + " (" + s3p + "%)";
        popAns4.innerHTML = a4 + " (" + s4p + "%)";
        if( "1" == curr[counter].answerid){
            popAns1.style.color = "#00933B";
        }
        if( "2" == curr[counter].answerid){
            popAns2.style.color = "#00933B";
        }
        if( "3" == curr[counter].answerid){
            popAns3.style.color = "#00933B";
        }
        if( "4" == curr[counter].answerid){
            popAns4.style.color = "#00933B";
        }
    }

    function score(){
        //this is where we can do the calculations for the score by grabbing
        //the time variable and using that as part of it, as well as using
        //information from the question_obj, or we can probably use jquery or
        //something, attach onsubmit="score()" into the form
    }
    function start(){
        runQuestion();
    }
</script>
<link rel="stylesheet" type="text/css" href="/static/css/w2ui-1.4.3.min.css">
<body>
	<div class = "container" style=" height: 240px; text-align:center; position:relative;">
		<br><br><br>
        <div id="demo"></div>
        <div style="text-align:center">Time Left</div>
        <div id="timer" style="text-align:center"><p>15</p></div>
        <h3 class= "col-lg-1" style="text-align:right" id="counter"></h3>
        <h3 id = "question" class="col-lg-11" style="text-align:center"></h3>
    </div>
    <div class = "container text-align-center">
        <font size = 5>
          <input type="hidden" name="hidden_score" value="{{score}}">

          <div class ="container">
              <div class = "col-lg-3"></div>
              <div class="col-lg-3">
                  <button onclick="submit(1)" id="answer1" type="submit" name="userAnswer" value=1 class="submit-a-button-1">
                  </button>
              </div>
              <div class="col-lg-3">
                  <button onclick="submit(2)" id="answer2" type="submit" name="userAnswer" value=2 class="submit-a-button-2">
                  </button>
              </div>
              <div class="col-lg-3"></div>
          </div>
          <div class ="container">
              <div class="col-lg-3"></div>
              <div class="col-lg-3">
                  <button onclick="submit(3)" id="answer3" type="submit" name="userAnswer" value=3 class="submit-a-button-3">
                  </button>
                  </div>
              <div class="col-lg-3">
                  <button onclick="submit(4)" id="answer4" type="submit" name="userAnswer" value=4 class="submit-a-button-4">
                  </button>
                  </div>
              <div class="col-lg-3"></div>
          </div>
          <button type="hidden submit" id="submit" name="userAnswer" style="visibility: hidden" value=0></button>
        </font>
	</div>
    <div id="popup" style=" display: none; width: 650px; height: 400px; overflow: auto">
        <div id="title" rel="title">
            <span style="color:red" id="popupHead"></span>
        </div>
        <div id='body' rel="body" >
            <div style=" font-size: 24px; line-height: 110%; text-align:left;">
                <ol id="list">
                    <li style="color: #f44336;" id='popupAns1'></li>
                    <li style="color: #f44336;" id='popupAns2'></li>
                    <li style="color: #f44336;" id='popupAns3'></li>
                    <li style="color: #f44336;" id='popupAns4'></li>
                </ol>
                <h3>Explanation: </h3>
                <p id='explanation'></p>
            </div>
        </div>
        <div rel="buttons">
            <button class="btn btn-default" onclick="runNextQuestion()">Next Question</button>
            <a class="col-lg-3" id="report" href="#sendreport" style="text-align: right" data-toggle="modal"> Report Question </a>
        </div>
    </div>
    <div style="z-index:2147483646;" class="modal fade" id="sendreport" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form id="reportForm" role = "form"  method="post" class="form-horizontal" action="">
					<div class="modal-header">
						<he5>Report Question</he5>
					</div>
					<div class="modal-body">
						Describe the problem:<br><br>
						<textarea class="form-control" rows="3" cols="40" name="comment" maxlength="350" required ></textarea>
						<br>
					</div>
					<div class="modal-footer">
						<a class="btn btn-default text-right" data-dismiss="modal">Close</a>
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script>
    window.onload = start();
    function submit(selection){
        clearTimeout(timerId); //stops timer
        var header = document.getElementById('title');
        var body = document.getElementById('body');
        //send selection back to python
        if(selection == curr[counter].answerid){
            header.innerHTML = "<span style='color:green'>Correct</span>";
            $('#popup').w2popup({modal: true, showClose: false, keyboard: false});
            sendAnswer(userid,questkey,selection);
            //logic for score in here
        }
        else{
            header.innerHTML = "<span style='color:red'>Incorrect</span>";
            $('#popup').w2popup({modal: true, showClose: false, keyboard: false});
            sendAnswer(userid,questkey,selection);
        }
    }

    function runNextQuestion(){
        w2popup.close();
        
        var popAns1 = document.getElementById('popupAns1');
        var popAns2 = document.getElementById('popupAns2');
        var popAns3 = document.getElementById('popupAns3');
        var popAns4 = document.getElementById('popupAns4');
        if( "1" == curr[counter].answerid){
            popAns1.style.color = "#f44336";
        }
        if( "2" == curr[counter].answerid){
            popAns2.style.color = "#f44336";
        }
        if( "3" == curr[counter].answerid){
            popAns3.style.color = "#f44336";
        }
        if( "4" == curr[counter].answerid){
            popAns4.style.color = "#f44336";
        }
        if( counter == "{{num}}"){
            //redirect to another page here
            //end quiz, hidden form action?
        }
        runQuestion();
    }
    $(document).ready(function(){
       var $form = $('reportForm');
       $form.submit(function(){
          $.post($(this).attr('action'), $(this).serialize(), function(response){
                $('.modal').modal('hide');
          },'json');
          return false;
       });
    });
    function sendAnswer(userID, questKey, userAnswer){
        try{
                $.ajax({
                  type: "POST",
                  url: "/answerSingle",
                  dataType: 'json',
                  data: JSON.stringify({"userID": userID, "qKey": questKey, "userSelection": userAnswer})
              });
                // .done(function( data ) {
                //     alert("cool");
                // });
          }
          catch(err){
              window.alert(err.message);
          }
    }
</script>
</html>
{% endblock %}
