{% extends "_base.html" %}
{% block bodycontent %}
<!DOCTYPE html>
<html>
<head>
<style>
    table {
        width:100%;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: left;
    }
    table#leaderboard tr:nth-child(even) {
        background-color: #eee;
    }
    table#leaderboard tr:nth-child(odd) {
       background-color:#fff;
    }
    table#leaderboard th	{
        background-color: black;
        color: white;
}
</style>
</head>
<body>
    </br></br></br></br>
    <div class = "container" align="right">
        <h3><span style="float:left; font-size:5;">{{category}}</span>
        <select style="font-size:5" class="selectpicker" id="category" name="category" method="POST">
            <option selected disabled>Category</option>
            <option value="ALL">ALL</option>
            <option value="PHARM 2001">PHARM 2001</option>
            <option value="PHARM 3023">PHARM 3023</option>
            <option value="PHARM 3028">PHARM 3028</option>
            <option value="PHARM 3040">PHARM 3040</option>
            <option value="PHARM 5218">PHARM 5218</option>
        </select>
        <hr>
    </div>
    <div class= "container">
        <table id="leaderboard">
          <thead>
            <th width='5%'>Rank</th>
            <th>Name</th>
            <th>Points</th>
          </thead>
          <tbody>
          </tbody>
        </table>
    </div>
</body>

<script type="text/javascript">
    $(document).ready(function(){
        $('#category').change(function(){
            category = $('#category').val();
            $.ajax({
                type: "POST",
                url: "/getNewCatScores",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({"category":category}),
                success: function(text){
                    $("#leaderboard tbody").empty();
                    var data = JSON.parse(text);
                    var rank = 1;
                    $.each(data, function(index, el) {
                        $('#leaderboard tbody').append("<tr><td>"+rank+"</td><td>"+index+"</td><td>"+el+"</td></tr>");
                        rank++;
                    });
                },
            });
        });
    });
    $(document).ready(function(){
        var scoreList =  {{list|safe}};
        console.log(scoreList);
        var rank = 1;
        for (var prop in scoreList){
          console.log("obj." + prop + " = " + scoreList[prop]);
          $('#leaderboard tbody').append("<tr><td>"+rank+"</td><td>"+prop+"</td><td>"+scoreList[prop]+"</td></tr>");
          rank++;
        }
    });
    //alert(scoreList);
</script>
</html>
{% endblock %}
