{% extends "_base.html" %}
{% block bodycontent %}
<!DOCTYPE html>
<html>
<head>
	<style>
	table {
	    width:100%;
	}
	table, th, td {
	    border: 1px solid black;
	    border-collapse: collapse;
	}
	th, td {
	    padding: 5px;
	    text-align: left;
	}
	table#leaderboard tr:nth-child(even) {
	    background-color: #eee;
	}
	table#leaderboard tr:nth-child(odd) {
	   background-color:#fff;
	}
	table#leaderboard th	{
	    background-color: black;
	    color: white;
	}
	</style>
</head>
<body>
</br></br></br>
	<div class = "container ">
		<div class = "container" align="right">
			<form action="/leaderboard" method="post">
				<select id="Category" name="category" method="POST">
					<option value="PHARM 2001">PHARM 2001</option>
					<option value="PHARM 3023">PHARM 3023</option>
					<option value="PHARM 3028">PHARM 3028</option>
					<option value="PHARM 3040">PHARM 3040</option>
					<option value="PHARM 5218">PHARM 5218</option>
				</select>
				<button type="submit" value="submit">Select</button>
			</form>
		</div>
	</br>
	<table id="leaderboard">
	  <tr>
		<th width='5%'>Rank</th>
		<th>Points</th>
	    <th>Name</th>
	  </tr>
	</table>
	</div>

</body>
<script type="text/javascript">
var scoreList =  {{list|safe}};
console.log(scoreList);
var rank = 1;
for (var prop in scoreList){
  console.log("obj." + prop + " = " + scoreList[prop]);
  var board = document.getElementById('leaderboard');
  var newRow = board.insertRow(board.rows.length);
  newRow.innerHTML = "<td>"+rank+"</td><td>"+scoreList[prop]+"</td><td>"+prop+"</td>";
  rank++;
}
//alert(scoreList);
var board = document.getElementById('leaderboard');

</script>
</html>
{% endblock %}
