{% extends "_base.html" %}
{% block bodycontent %}
<!DOCTYPE html>
<html>
{% if user_email %}
<br><br><br>
<body>
	<div class = "container">
		<br><br><br>
		<p>Here is a new user question:</p>
        <hr>
		<h4>{{review.question}}</h4>
        <span class="red-text">{{review.answer1}}</span><br>
        <span class="blue-text">{{review.answer2}}</span><br>
        <span class="green-text">{{review.answer3}}</span><br>
        <span class="yellow-text">{{review.answer4}}</span><br><br>
	{% if review.image_urlQ %}
			<img src="/imageQ?id={{review.id}}" style="float: right;" class="img-responsive smaller-image blue-border" >
	{% endif %}
        <h4>Explanation:</h4>
        <p>{{review.explanation}}</p>
		<h4>The answer is:</h4>
        <span class = "red-text">{{review.answerid}}</span>
		<hr>
		
		<div style="display:none;" id="hiddenForm2">
			<form  method="post" action=/report >
				<span> Describe the problem </span>
				<textarea rows="3" cols="40" name="comment" maxlength="350" required >
				</textarea>
				<br>
				<input type="submit" value="Submit" >
			</form>
		</div>
		<br>
        {% if review.accepted %}
        <div class="col-lg-10"></div>
        <!--put the edit box functionality here -->
        {% else %}
        <span>Should this question be added?</p>
        <div class="col-lg-10">
            <form method="post" class="horizontal-form" action="/incrementVote">
                <input type="hidden" name="id" value="{{review.id}}">
                <button action="/incrementVote" type="submit">Yes</button>
            </form>
            <form method="post" class="horizontal-form" action="/decrementVote">
                <input type="hidden" name="id" value="{{review.id}}">
                <button action="/decrementVote" type="submit">No</button>
            </form>
        </div>
        {% endif %}
		<a class="col-lg-2" id="report" href="#sendreport" style="text-align: right" data-toggle="modal"> Report Question </a>
	</div>
	<div class="modal fade" id="sendreport" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form role = "form"  method="post" class="form-horizontal" action="/report?id={{review.id}}">
					<div class="modal-header">
						<he5>Report Question</he5>
					</div>
					<div class="modal-body">
						Describe the problem:<br><br>
						<textarea class="form-control" rows="3" cols="40" name="comment" maxlength="350" required ></textarea>
						<br>
					</div>
					<div class="modal-footer">
						<a class="btn btn-default text-right" data-dismiss="modal">Close</a>
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% else %}
<div class = "intro container">
    <br><br><br>
    <h1>You Must Be An Logged In to View This Page!</h1>
</div>
{% endif %}
	<script>
		function reportPopUp() {
			  if (document.getElementById("hiddenForm2").style.display == "none"){
  			  	document.getElementById("hiddenForm2").style.display = "block";
			  }
			  else if (document.getElementById("hiddenForm2").style.display == "block"){
				document.getElementById("hiddenForm2").style.display = "none";
			  }
		}
	</script>
</body>
</html>
{% endblock %}
