{% extends "_base.html" %}
{% block bodycontent %}
<!DOCTYPE html>
<html>
<body>
	<div class = "container">
		<br><br><br>
		<p>Here is a new user question:</p>
        <hr>
		<p>{{review.question}}</p>
		<ol>
			<li class="red-text">{{review.answer1}}</li>
			<li class="blue-text">{{review.answer2}}</li>
			<li class="green-text">{{review.answer3}}</li>
			<li class="yellow-text">{{review.answer4}}</li>
		</ol>
        <p>Explanation:</p>
        <p>{{review.explanation}}</p>
		<p>The answer is:</p>
        <h5 class = "red-text">{{review.answerid}}</h5>
		<hr>
		
		<div style="display:none;" id="hiddenForm2">
			<form  method="post" action=/report >
				<p> Describe the problem </p>
				<textarea rows="3" cols="40" name="comment" maxlength="350" required >
				</textarea>
				<br>
				<input type="submit" value="Submit" >
			</form>
		</div>
		<br>
		<p>Should this question be added?</p>
		<form class="col-lg-10" action="/ReviewNewQuestions">
			<button type="submit" name=yes>Yes</button>
			<button type="submit" name=no>No</button>
		</form>
		<a class="col-lg-2" id="report" href="#sendreport" data-toggle="modal"> Report Question </a>
	</div>
	<div class="modal fade" id="sendreport" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form role = "form"  method="post" class="form-horizontal" action="/report?id={{review.id}}">
					<div class="modal-header">
						<he5>Report Question</he5>
					</div>
					<div class="modal-body">
						Describe the problem:<br><br>
						<textarea class="form-control" rows="3" cols="40" name="comment" maxlength="350" required ></textarea>
						<br>
					</div>
					<div class="modal-footer">
						<a class="btn btn-default text-right" data-dismiss="modal">Close</a>
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>
		function reportPopUp() {
			  if (document.getElementById("hiddenForm2").style.display == "none"){
  			  	document.getElementById("hiddenForm2").style.display = "block";
			  }
			  else if (document.getElementById("hiddenForm2").style.display == "block"){
				document.getElementById("hiddenForm2").style.display = "none";
			  }
		}
	</script>
</body>
</html>
{% endblock %}
