{% extends "_base.html" %}
{% block bodycontent %}
<html>
<head>
    <title>Add a Question</title>
</head>
<body>
{% if user_email %}
    <br><br><br>
    <div class = "container">
        <h3>New Quessdfasdfasdftion Submission</h3>
        <hr>
        <form action="{{upload_urlQ}}" enctype="multipart/form-data" method="post"><font size = 5>
            Category:
            <select id="Category" name="category" method="POST" >
                <option value="PHARM 2001">PHARM 2001</option>
                <option value="PHARM 3023">PHARM 3023</option>
                <option value="PHARM 3028">PHARM 3028</option>
                <option value="PHARM 3040">PHARM 3040</option>
                <option value="PHARM 5218">PHARM 5218</option>
            </select>
            </br><br>
            Question:
            <input type="text" size = "45" name="questiontext" method=POST required>
            <br><br>
            Answers:
            <ol>
                <li class="red-text">
                <input type="text" method=POST name="answer1" size = "30" maxlength="30" required>
                </li>
                <li class="blue-text">
                <input type="text" method=POST name="answer2" size = "30" maxlength="30" required>
                </li>
                <li class="green-text">
                <input type="text" method=POST name="answer3" size = "30" maxlength="30" required>
                </li>
                <li class="yellow-text">
                <input type="text" method=POST name="answer4" size = "30" maxlength="30" required>
                </li>
            </ol>
	    Import Image:
	    <input type="file" class="form-control" name="file" id="Location">
            Explantion:<br>
            <textarea type="text" name="explanation" class="form-control" rows="5" maxlength="750"></textarea>
            <hr>
            Select the correct answer:
            <button type="submit" name="answerid" value=1 class="submit-q-button-1">1</button>
            <button type="submit" name="answerid" value=2 class="submit-q-button-2">2</button>
            <button type="submit" name="answerid" value=3 class="submit-q-button-3">3</button>
            <button type="submit" name="answerid" value=4 class="submit-q-button-4">4</button>
        </form>
    </div>
    {% else %}
    <div class = "intro container">
        <br><br><br>
        <h1 style="position:absolute; top:50%; left:25%;">You Must Be An Logged In to View This Page!</h1>
    </div>
{% endif %}
</body>
</html>
{% endblock %}
