{% extends "_base.html" %}
{% block bodycontent %}
<body>
	<br><br><br>
	{% if user_email %}

	<div class= "container col-lg-12s">
			<div class="text-left"><he5>Profile Information:</he5></div>
                <hr>
                <div class="col-lg-3">
                {% if profile.image_url %}
                    <img src="/image?id={{profile.user_id}}" class="img-responsive smaller-image" >
                {% else %}
                    <img style="height: 100%; width: auto;" class="img-responsive smaller-image" src="/static/img/DrMarioadv.png">
	            {% endif %}
                <br>
                </div>
                <div class="col-lg-9">
                    <label class="control-label">Name:</label> {{profile.name}}<br>
                    <label class="control-label">Year:</label> {{profile.year}}<br>
                    <label class="control-label">Interests:</label> {{profile.interests}}<br>
                    <label class="control-label">Employer:</label> {{profile.employer}}<br>
                    <label class="control-label">Bio:</label> {{profile.bio}}<br>
                    <br><br><br>
                </div>
			<a class="btn btn-default pull-right" href="#editprofile" data-toggle="modal">Edit Profile Information</a>
			<br><br>
	</div>
    
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs/jq-2.1.4,dt-1.10.9/datatables.min.css"/>
	<script type="text/javascript" src="https://cdn.datatables.net/r/bs/jq-2.1.4,dt-1.10.9/datatables.min.js"></script>
	
	<div class="modal fade" id="editprofile" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form role = "form"  method="post" class="form-horizontal" action="{{upload_url}}" enctype="multipart/form-data"> <!--Need to process the information-->
					<div class="modal-header">
						<he5>Edit Profile Information</he5>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for: "name" class="col-lg-2 control-label">Name: </label>
							<div class="col-lg-10">
								<input type="text" class="form-control" name="name" id="name" value="{{profile.name}}" maxlength=70 required>
							</div>
						</div>
						<div class="form-group">
							<label for: "Location" class="col-lg-2 control-label">Year: </label>
							<div class="col-lg-10">
								<input type="text" class="form-control" name="location" id="year" value="{{profile.year}}" maxlength=35 required>
							</div>
						</div>
					        <div class="form-group">
							<label for: "img" class="col-lg-2 control-label">Image: </label>
							<div class="col-lg-10">
								<input type="file" class="form-control" name="file" id="Location">
							</div>
						</div>
						<div class="form-group">
							<label for: "Interests" class="col-lg-2 control-label">Interests: </label>
							<div class="col-lg-10">
								<textarea type="text" class="form-control" name="interests" id="interests" value="" maxlength=140 required>{{profile.interests}}</textarea>
							</div>
						</div>
                        <div class="form-group">
							<label for: "Interests" class="col-lg-2 control-label">Employer: </label>
							<div class="col-lg-10">
								<input type="text" class="form-control" name="interests" id="employer" value="{{profile.employer}}" maxlength=140>
							</div>
						</div>
                        <div class="form-group">
							<label for: "Interests" class="col-lg-2 control-label">Bio: </label>
							<div class="col-lg-10">
								<textarea type="text" class="form-control" name="interests" id="bio" value="" maxlength=140 required>{{profile.bio}}</textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a class="btn btn-default text-right" data-dismiss="modal">Close</a>
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	{% else %}
    <div class = "intro container">
        <br><br><br>
        <h1 style="position:absolute; top:50%; left:20%;">You Must Be An Logged In to View This Page!</h1>
    </div>
	{% endif %}
</body>
{% endblock %}
