{% extends "_base.html" %}
{% block bodycontent %}
<!DOCTYPE html>

<html>
<br><br><br>
<body>
{% if user_email %}
	<div class = "container">
        {% if review.accepted %}
        <h3 style="display:inline;">Question:</h3>
        {% else %}
		<h3 style="display:inline;">New Question:</h3>
        {% endif %}
        <hr>
        {% if review.image_urlQ %}
            <div class = "col-lg-6">
                <h4 style="display:inline;">{{review.question}}</h4><br>
                <span class="red-text">{{review.answer1}}</span><br>
                <span class="blue-text">{{review.answer2}}</span><br>
                <span class="green-text">{{review.answer3}}</span><br>
                <span class="yellow-text">{{review.answer4}}</span><br><br>
            </div>
            <div class= "col-lg-6">
                <img src="/imageQ?urlkey={{review.urlkey}}" class="img-responsive smaller-image" >
            </div>
        {% else %}
            <h4 style="display:inline;">{{review.question}}</h4><br>
            <span class="red-text">{{review.answer1}}</span><br>
            <span class="blue-text">{{review.answer2}}</span><br>
            <span class="green-text">{{review.answer3}}</span><br>
            <span class="yellow-text">{{review.answer4}}</span><br><br>
        {% endif %}
        
        <h4 style="display:inline;">Explanation:</h4>
        <p>{{review.explanation}}</p>
		<h4 style="display:inline;">The answer is:</h4><br>
        <span id="answer" class = "red-text"></span>
		<hr>
		<br>
        {% if review.accepted %}
        <div class="col-lg-10"></div>
        <!--put the edit box functionality here -->
        {% else %}
        <span>Should this question be added?</p>
        <div class="col-lg-10">
            <form method="post" class="horizontal-form" action="/incrementVote">
                <input type="hidden" name="id" value="{{review.id}}">
                <button action="/incrementVote" type="submit">Yes</button>
            </form>
            <form method="post" class="horizontal-form" action="/decrementVote">
                <input type="hidden" name="id" value="{{review.id}}">
                <button action="/decrementVote" type="submit">No</button>
            </form>
        </div>
        {% endif %}
		<a class="col-lg-2" id="report" href="#sendreport" style="text-align: right" data-toggle="modal"> Report Question </a>
	</div>
	<div class="modal fade" id="sendreport" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form role = "form"  method="post" class="form-horizontal" action="/report?id={{review.urlkey}}">
					<div class="modal-header">
						<he5>Report Question</he5>
					</div>
					<div class="modal-body">
						Describe the problem:<br><br>
						<textarea class="form-control" rows="3" cols="40" name="comment" maxlength="350" required ></textarea>
						<br>
					</div>
					<div class="modal-footer">
						<a class="btn btn-default text-right" data-dismiss="modal">Close</a>
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% else %}
    <div class = "intro container">
        <br><br><br>
        <h1 style="position:absolute; top:50%; left:20%;">You Must Be An Logged In to View This Page!</h1>
    </div>
{% endif %}
</body>
<script>
    try{
    window.onload = function() {

        window.alert("ass");
        switch("{{review.answerid}}"){
            case "1":
                $("#answer").style("color:#f44336");
                $("#answer").text("review.answer1");
                break;
            case "2":
                $("#answer").style("color:#0266C8");
                $("#answer").text("review.answer2");
                break;
            case "3":
                $("#answer").style("color:#00933B");
                $("#answer").text("review.answer3");
                break;
            case "4":
                $("#answer").style("color:#F2B50F");
                $("#answer").text("review.answer4");
                break;
        }
    };
    }catch(err) { window.alert(err.message); }
</script>
</html>
{% endblock %}
